:root {
	--primary-color: #3a506b;
	--accent-color: #bc4749;
	--text-light: #5c677d;
	--bg-light: #f5f5f5;
	--bg-white: #ffffff;
	--border-color: #e0e0e0;
	--shadow: 0 4px 20px rgba(0, 0, 0, 0.08);

	--font-serif-playfair: "Playfair Display", serif;
	--font-sans-source: "Source Sans Pro", sans-serif;
	--font-serif-lora: "Lora", serif;
	--font-sans-montserrat: "Montserrat", sans-serif;
	--font-cursive-caveat: "Caveat", cursive;

	--primary-color-2: #5d4037;
	--accent-color-2: #8d6e63;
	--text-light-2: #a1887f;
	--background-light-2: #fff8e1;
	--background-white-2: #fffef7;
	--border-color-2: #efebe9;

	--primary-color-3: #4a6572;
	--accent-color-3: #f4a261;
	--text-light-3: #6c757d;
	--background-light-3: #f8f9fa;
	--background-white-3: #ffffff;
	--border-color-3: #e9ecef;

	--primary-color-4: #212529;
	--accent-color-4: #f72585;
	--text-light-4: #6c757d;
	--background-light-4: #f8f9fa;
	--background-white-4: #ffffff;
	--border-color-4: #e9ecef;

	--border-color-5: #dee2e6;

	--primary-text-6: #2c3e50;
	--secondary-text-6: #7f8c8d;
	--accent-color-6: #e67e22;
	--background-6: #ffffff;
	--alt-background-6: #f8f9fa;
	--border-color-6: #ecf0f1;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-sans-source);
	color: var(--primary-color);
	line-height: 1.6;
	background-color: var(--bg-white);
	overflow-x: hidden;
	margin-top: 7rem;
}

h1,
h2,
h3 {
	font-family: var(--font-serif-playfair);
	font-weight: 700;
}

a {
	text-decoration: none;
	color: inherit;
}

.header-container {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	background-color: var(--bg-white);
	border-bottom: none;
	transition:
		box-shadow 0.3s ease,
		border-bottom 0.3s ease;
}

.header-container.scrolled {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-container {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.2rem 2rem 0rem 2rem;
	/* font-family: var(--font-sans-montserrat); */
	font-family: var(--font-sans-source);
}

.nav-container.scrolled {
	padding: 1.2rem 2rem 0.5rem 2rem;
}

.social-links {
	text-decoration: none;
	list-style: none;
	display: flex;
	gap: 1.5rem;
}

.social-links a {
	color: var(--primary-color);
	font-size: 1.5rem;
	opacity: 1;
	transition:
		opacity 0.8s ease,
		transform 0.8s ease;
}

.social-links:hover a {
	opacity: 0.4;
}

.social-links a:hover {
	opacity: 1;
}

.logo-text {
	/* font-family: var(--font-sans-montserrat); */
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 0.08em;
}

.logo-animate {
	/* border-right: 1px solid var(--primary-color); */
	white-space: nowrap;
	overflow: hidden;
}

.nav-links-dropdown {
	max-width: 1200px;
	margin: 0 auto;
	font-size: 1rem;
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 2rem;
}

.nav-links-dropdown a {
	/* font-family: var(--font-sans-montserrat); */
	color: var(--primary-color);
	font-weight: 300;
	font-size: 1rem;
	position: relative;
	opacity: 0.7;
	transition:
		opacity 0.8s ease,
		transform 0.8s ease;
}

.nav-links-dropdown a:hover {
	opacity: 1;
	font-weight: 400;
}

.nav-links-dropdown a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -5px;
	width: 0;
	height: 2px;
	background-color: var(--accent-color-3);
	transition: width 0.3s ease;
}

.nav-links-dropdown a:hover::after {
	width: 100%;
}

.header-container.scrolled .nav-links-dropdown {
	display: none;
	pointer-events: none;
}

.header-container.scrolled:hover .nav-links-dropdown {
	display: flex;
	pointer-events: auto;
	transform: translateY(-60%);
}

.hero {
	background-color: var(--background-light-3);
	color: var(--primary-color-3);
	padding: 6rem 0 4rem;
}

.hero .container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero-content {
	display: flex;
	align-items: center;
	gap: 4rem;
}

.dive-in {
	font-size: 1.1rem;
	font-weight: 400;
	font-family: var(--font-serif-playfair);
	font-style: italic;
	color: var(--primary-color);
	opacity: 0.6;
	margin-top: 2rem;
}

.hero-image {
	flex: 1;
	position: relative;
}

.hero-image img {
	width: 100%;
	height: auto;
	/* border-radius: 4px; */
}

.hero-split-image {
	flex: 1;
	position: relative;
	width: 100%;
	height: 500px;
	overflow: hidden;
	border-radius: 4px;
	background-color: var(--background-light-3);
}

.hero-split-image .image {
	position: absolute;
	width: 100%;
	height: 50%;
	overflow: hidden;
	cursor: pointer;
	z-index: 1;
	transition:
		height 0.5s ease,
		top 0.5s ease,
		bottom 0.5s ease opacity 0.4s ease;
}

.hero-split-image .image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hero-split-image .image:hover {
	opacity: 1;
	transform: scale(1.5);
}

.hero-split-image .image-top {
	top: 0;
}

.hero-split-image .image-bottom {
	bottom: 0;
}

.hero-split-image .image-top:hover {
	height: 100%;
	z-index: 10;
}

.hero-split-image .image-bottom:hover {
	height: 100%;
	bottom: 0;
	z-index: 10;
}

.hero-split-image .image-top:hover ~ .image-bottom {
	height: 0;
}

.hero-split-image .image-bottom:hover ~ .image-top {
	height: 0;
}

.hero-text {
	flex: 1;
}

.hero-text h1 {
	color: var(--primary-color-3);
	font-size: 3.5rem;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 1.5rem;
}

.hero-text p {
	color: var(--text-light-3);
	font-size: 1.1rem;
	font-weight: 400;
	line-height: 1.8;
	margin-bottom: 1.5rem;
}

.hero-text .highlight {
	color: var(--accent-color-3);
	font-weight: 600;
}

.hero-text .handwritten {
	font-family: var(--font-cursive-caveat);
	font-weight: 700;
	font-size: 2rem;
	line-height: 1.2;
	display: block;
	text-align: center;
	color: var(--accent-color-3);
	margin: 2.5rem 0;
}

.visual-story {
	/* padding: 4rem 0 4rem; */
	padding: 6rem 0 4rem;
}

.visual-story .container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.visual-story h2 {
	font-size: 2.5rem;
	text-align: center;
	color: var(--primary-color-3);
	margin-bottom: 2.5rem;
}

.story-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 250px;
	gap: 8px;
}

.story-grid .story-item {
	overflow: hidden;
	border-radius: 2px;
}

.story-grid .story-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.5s ease;
}

.story-grid .story-item:hover img {
	transform: scale(1.1);
}

.story-grid .item-1 {
	grid-column: span 1;
	grid-row: span 2;
}

.story-grid .item-2 {
	grid-column: span 2;
	grid-row: span 1;
}

.story-grid .item-3 {
	grid-column: span 1;
	grid-row: span 1;
}

.story-grid .item-4 {
	grid-column: span 1;
	grid-row: span 2;
	/* grid-row: span 2; */
}

.story-grid .item-5 {
	grid-column: span 2;
	grid-row: span 1;
}

@media (max-width: 768px) {
	.hero {
		padding: 60px 0;
	}

	.hero-content {
		flex-direction: column;
		text-align: center;
		gap: 30px;
	}

	.hero-image {
		max-width: 300px;
	}

	.hero-split-image {
		height: auto;
		display: flex;
		flex-direction: column;
		gap: 0px;
	}

	.hero-split-image .image {
		position: relative;
		height: auto;
		opacity: 1 !important;
	}

	.hero-split-image .image img {
		height: 250px;
		transform: none !important;
	}

	.hero-split-image .image:hover {
		height: auto;
	}

	.hero-split-image .image-top:hover,
	.hero-split-image .image-bottom:hover {
		height: auto;
	}

	.hero-split-image .image-top:hover ~ .image-bottom,
	.hero-split-image .image-bottom:hover ~ .image-top {
		height: auto;
	}

	.hero-text h1 {
		font-size: 2.5rem;
	}

	.hero-text p {
		font-size: 1rem;
	}

	.hero-text .handwritten {
		font-size: 1.5rem;
	}

	.story-grid {
		grid-template-columns: 1fr;
		grid-auto-rows: 250px;
	}

	.story-grid .item-1,
	.story-grid .item-2,
	.story-grid .item-3,
	.story-grid .item-4,
	.story-grid .item-5 {
		grid-column: span 1;
		grid-row: span 1;
	}
}
